<h1>for variabel in collection</h1>

In [3]:
fruits = ["Apple","Banana","Watermelon","Pineapple"]
for fruit in fruits:
    print(f"Nama Buah : {fruit}")

Nama Buah : Apple
Nama Buah : Banana
Nama Buah : Watermelon
Nama Buah : Pineapple

In [7]:
#contoh:
#Kelas TI24F punya data nilai pemprograman python 80,100,90,70,70,50,40
#Carilah nilai rata-rata nilai pemprograman python

nilaiPython = [80,100,90,70,70,50,40]
total = 0
for nilai in nilaiPython:
    total += nilai
rata2 = total / len(nilaiPython)
print(f"Nilai Rata-rata : {rata2}")

Nilai Rata-rata : 71.42857142857143

In [9]:
#Enumerate
month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep"]
for i, m in enumerate(month):
    print(f"{i} : {m}")

0 : Jan
1 : Feb
2 : Mar
3 : Apr
4 : May
5 : Jun
6 : Jul
7 : Aug
8 : Sep

In [11]:
kampus = input("Isikan Nama Kampus:")
listVokal = ["a","i","u","e","o"]
total = 0
isVokal =""
for karakter in kampus:
    if karakter in listVokal:
        total += 1
        isVokal = "Huruf Vokal"
    else: 
        isVokal = "Bukan Huruf Vokal"
    print(f"{karakter} adalah {isVokal} | Total:{total}") #berapa banyak jumlah huruf vokal 'a,i,u,e,o' 
    print(f"Jumlah Total huruf Vokal : {total}")

Isikan Nama Kampus: Universitas Pendidikan Indonesia

U adalah Bukan Huruf Vokal | Total:0
Jumlah Total huruf Vokal : 0
n adalah Bukan Huruf Vokal | Total:0
Jumlah Total huruf Vokal : 0
i adalah Huruf Vokal | Total:1
Jumlah Total huruf Vokal : 1
v adalah Bukan Huruf Vokal | Total:1
Jumlah Total huruf Vokal : 1
e adalah Huruf Vokal | Total:2
Jumlah Total huruf Vokal : 2
r adalah Bukan Huruf Vokal | Total:2
Jumlah Total huruf Vokal : 2
s adalah Bukan Huruf Vokal | Total:2
Jumlah Total huruf Vokal : 2
i adalah Huruf Vokal | Total:3
Jumlah Total huruf Vokal : 3
t adalah Bukan Huruf Vokal | Total:3
Jumlah Total huruf Vokal : 3
a adalah Huruf Vokal | Total:4
Jumlah Total huruf Vokal : 4
s adalah Bukan Huruf Vokal | Total:4
Jumlah Total huruf Vokal : 4
  adalah Bukan Huruf Vokal | Total:4
Jumlah Total huruf Vokal : 4
P adalah Bukan Huruf Vokal | Total:4
Jumlah Total huruf Vokal : 4
e adalah Huruf Vokal | Total:5
Jumlah Total huruf Vokal : 5
n adalah Bukan Huruf Vokal | Total:5
Jumlah Total huruf Vokal : 5
d adalah Bukan Huruf Vokal | Total:5
Jumlah Total huruf Vokal : 5
i adalah Huruf Vokal | Total:6
Jumlah Total huruf Vokal : 6
d adalah Bukan Huruf Vokal | Total:6
Jumlah Total huruf Vokal : 6
i adalah Huruf Vokal | Total:7
Jumlah Total huruf Vokal : 7
k adalah Bukan Huruf Vokal | Total:7
Jumlah Total huruf Vokal : 7
a adalah Huruf Vokal | Total:8
Jumlah Total huruf Vokal : 8
n adalah Bukan Huruf Vokal | Total:8
Jumlah Total huruf Vokal : 8
  adalah Bukan Huruf Vokal | Total:8
Jumlah Total huruf Vokal : 8
I adalah Bukan Huruf Vokal | Total:8
Jumlah Total huruf Vokal : 8
n adalah Bukan Huruf Vokal | Total:8
Jumlah Total huruf Vokal : 8
d adalah Bukan Huruf Vokal | Total:8
Jumlah Total huruf Vokal : 8
o adalah Huruf Vokal | Total:9
Jumlah Total huruf Vokal : 9
n adalah Bukan Huruf Vokal | Total:9
Jumlah Total huruf Vokal : 9
e adalah Huruf Vokal | Total:10
Jumlah Total huruf Vokal : 10
s adalah Bukan Huruf Vokal | Total:10
Jumlah Total huruf Vokal : 10
i adalah Huruf Vokal | Total:11
Jumlah Total huruf Vokal : 11
a adalah Huruf Vokal | Total:12
Jumlah Total huruf Vokal : 12

In [13]:
#Looping list Comprehension
data = [1,2,3,4,5]
pangkat = [x**2 for x in data]
print(pangkat)

[1, 4, 9, 16, 25]

In [25]:
#Range
for i in range(20):
    print(f"Nilai i adalah:{i}")

Nilai i adalah:0
Nilai i adalah:1
Nilai i adalah:2
Nilai i adalah:3
Nilai i adalah:4
Nilai i adalah:5
Nilai i adalah:6
Nilai i adalah:7
Nilai i adalah:8
Nilai i adalah:9
Nilai i adalah:10
Nilai i adalah:11
Nilai i adalah:12
Nilai i adalah:13
Nilai i adalah:14
Nilai i adalah:15
Nilai i adalah:16
Nilai i adalah:17
Nilai i adalah:18
Nilai i adalah:19

In [29]:
for j in range(5,10):
    print(f"Nilai j : {j}")

Nilai j : 5
Nilai j : 6
Nilai j : 7
Nilai j : 8
Nilai j : 9

In [37]:
#Cek bilangan prima atau bukan prima
number = int(input("Isikan Bilangan:"))
faktor=0

for i in range (1,number+1):
    if number % i == 0:
        faktor +=1
if faktor==2:
    print(f"{number} adalah Bilangan Prima")
else:
    print(f"{number} adalah Bukan Prima")

Isikan Bilangan: 7

7 adalah Bilangan Prima

In [47]:
#Faktorial
#3! = 3 * 2 * 1 = 6
#4! = 4 * 3 * 2 * 1 = 24
total = 1
number = int (input("Isikan Bilangan:"))
for i in range(1,number+1):
    total *= i
print(f"{number}! = {total}")

Isikan Bilangan: 8

8! = 40320

In [45]:
# 1 -2 3 -4 5 -6 7 -8 9 -10
number = int(input("Isikan Bilangan:"))
sign = 1
for i in range(1,number+1):
    result = sign * i
    print(f"{result} ", end='')
    sign *= -1

Isikan Bilangan: 15

1 -2 3 -4 5 -6 7 -8 9 -10 11 -12 13 -14 15

In [49]:
kursiBioskop = ["L","P","P","L","L","P","L"]

#Hitunglah jumlah penonton Laki-laki
#Hitunglah jumlah penonton Perempuan

totalLaki = 0
for jenis in kursiBioskop:
    if jenis=="L":
        totalLaki +=1
print(f"Jumlah Penonton Laki-laki:{totalLaki}")
print(f"Jumlah Penonton Perempuan:{len(kursiBioskop)-totalLaki}")

Jumlah Penonton Laki-laki:4
Jumlah Penonton Perempuan:3

In [63]:
#Hitunglah jumlah orang yang kemingkinan berpasangan

kursi = ["L","P","P","L","L","P","L"]
couple = 0
for i in range(len(kursi)-1):
    if kursi[i] != kursi[i+1]:
        couple+=1
print(f"Jumlah Couple:{couple}")

Jumlah Couple:4

In [67]:
data = {
    "fname" : "Icaa",
    "lname" : "Mark"
}
for key,value in data.items():
    print(f"{key} : {value}")

fname : Icaa
lname : Mark