In [20]:
name = "Adi"
age = 20
address,province = "Jl. Sekarwangi","7413412"
pythonScore = 90.5
isMarried = False

print("Nama :",name)
print("umur :",age)
print("Alamat :", address)
print("Provinsi :",province)
print("Nilai Pemprograman :",pythonScore)
print("Status Menikah :", isMarried)

Nama : Adi
umur : 20
Alamat : Jl. Sekarwangi
Provinsi : 7413412
Nilai Pemprograman : 90.5
Status Menikah : False

In [32]:
print("Tipe Data (nama) :",type(name))
print("Tipe Data (age) :",type(age))
print("Tipe Data (address) :",type(address))
print("Tipe Data (province) :",type(province))
print("Tipe Data (pythonScore) :",type(pythonScore))
print("Tipe Data (isMarried) :",type(isMarried))

Tipe Data (nama) : <class 'str'>
Tipe Data (age) : <class 'int'>
Tipe Data (address) : <class 'str'>
Tipe Data (province) : <class 'str'>
Tipe Data (pythonScore) : <class 'float'>
Tipe Data (isMarried) : <class 'bool'>

In [24]:
#Casting atau Konversi Tipe Data

strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt+2,strToFloat,strToBool)

7413414 7413412.0 True

In [26]:
#Casting

intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool)

20 20.0 True

In [34]:
#Casting

boolToStr = str(pythonScore)
boolToFloat = float(pythonScore)
boolToBool = bool (pythonScore)
print(boolToStr,boolToFloat,boolToBool)

90.5 90.5 True

In [36]:
#Casting

boolToInt = int(isMarried)
boolToStr = str(isMarried)
boolToFloat = float(isMarried)
print(boolToInt,boolToStr,boolToFloat)

0 False 0.0

In [40]:
#String adalah kumpulan dari beberapa karakter dan Immutable
city = "Bandung"
panjang = len(city)
print(city[0])
print(city[panjang-1])

B
g

In [44]:
desimal = 500
biner = 0b1111
octal = 0o377
hexa = 0xff

print("Nilai desimal:",desimal)
print("Nilai biner:",biner)
print("Nilai octal:",octal)
print("Nilai hexa:",hexa)

print("Biner dari ",desimal,":",bin(desimal))
print("Octal dari ",desimal,":",oct(desimal))
print("Hexadesimal dari ",desimal,":",hex(desimal))

Nilai desimal: 500
Nilai biner: 15
Nilai octal: 255
Nilai hexa: 255
Biner dari  500 : 0b111110100
Octal dari  500 : 0o764
Hexadesimal dari  500 : 0x1f4

In [62]:
#Tipe data Collection
cities = ["Sukabumi","Malang","Bandung","Surabaya"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Jakarta"
print(cities)

hobbies = ("Fangirling","Baca AU","Scroll Instagram")
print(hobbies)
print(hobbies[0])
#hobbies[0] = "Watching Netflix" error program
studentList =[
    {
        "name" : "Ica",
        "age" : 19,
        "address" : {
            "street" : "Jl. Sekarwangi",
            "number" : 19,
            "province" : "Kab. Sukabumi"
        }
    },
    {
        "name" : "Mark",
        "age" : 21,
        "address" : {
            "street" : "Jl. Toronto",
            "number" : 20,
            "province" : "Kab. Kanadha" 
        }
    }
]
      
print(studentList)
print(studentData["name"])
print(studentData["address"]["province"])

['Sukabumi', 'Malang', 'Bandung', 'Surabaya']
Sukabumi
Surabaya
['Sukabumi', 'Jakarta', 'Bandung', 'Surabaya']
('Fangirling', 'Baca AU', 'Scroll Instagram')
Fangirling
[{'name': 'Ica', 'age': 19, 'address': {'street': 'Jl. Sekarwangi', 'number': 19, 'province': 'Kab. Sukabumi'}}, {'name': 'Mark', 'age': 21, 'address': {'street': 'Jl. Toronto', 'number': 20, 'province': 'Kab. Kanadha'}}]
Ica
Kab. Sukabumi